#Page {
	height: 300px;;
}

#deck {
	
}

/* the cards on the deck */
.deckCard {
	width: 75px;
}

/* the cards on the users hand */
.handCard {
	width: 100px;
	margin-left: -20px;
}

#header a {
	margin: 0px 20px 0px 0px;
}